.heading{
        text-transform:capitalize;
        text-decoration: 3px black underline;
        text-align:center;
    }
    
    .div1{
        background-color:#ff8989;
    }
    .div2{
        background-color:#88f7ce;
    }
    .div3{
        background-color:#e29df2;
    }
    div{
        width:32%;
        height:300px;
        margin:0.44%;
        display:inline-block;
    }
    
    @media screen and (max-width:600px){
        div{
            width:100%;
        }
    }